html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

#contenedor{
    display: grid;
    gap: 10px;
    position: relative;
    width: 550px;
    height: 470px;
    left: 10%;
    top: 10%;
    background-color: blue;
    border: solid 10px blue;
}

.celda{
    width: 70px;
    height: 70px;
    background-color:lightblue ;
}

.celda:hover{
    background-color: aqua;
}

.col_1{
    grid-column-start:1;
}

.col_2{
    grid-column-start: 2;
}

.col_3{
    grid-column-start: 3;
}

.col_4{
    grid-column-start: 4;
}

.col_5{
    grid-column-start: 5;
}

.col_6{
    grid-column-start: 6;
}

.col_7{
    grid-column-start: 7;
}

.fil_1{
    grid-row-start: 1;
}

.fil_2{
    grid-row-start: 2;
}

.fil_3{
    grid-row-start: 3;
}

.fil_4{
    grid-row-start: 4;
}

.fil_5{
    grid-row-start: 5;
}

.fil_6{
    grid-row-start: 6;
}